[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Tornado

# A comment which can/will be used as a tooltip
Comment=Example Gtk4+Adwaita application

# The executable of the application, possibly with arguments.
Exec=/opt/tornado/tornado.py

# The name of the icon that will be used to display this entry
Icon=application-x-executable

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=
